/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

:root {
  	--color-main: #fff;
  	--color-bg: #181818;
  	--color-yellow: #F5F8AB;
  	--color-grey: #CBDEED;

  	--border-color: #000;
  	--border-width: 6px;

  	--color-link: var(--color-yellow);
}
